<p-sidebar position="right" [(visible)]="display" [closeOnEscape]="dismissible" [dismissible]="dismissible" [showCloseIcon]="dismissible" [modal]="dismissible">
    <div style="padding-top: 20%;"></div>
    <div [routerLink]="['/admin']">
        <img style=" margin-left: 38%; display:table; border-radius: 50%;  width: auto; height: 100px;" src="foto.png" alt="Perfil">
    </div>
    <ul class="">
        <li style="font-size: 1.5rem; font-family: Arial, Helvetica, sans-serif; display: table; margin: 0 auto;padding-bottom: 8%; padding-top: 20%;">
            <button [routerLink]="['/home']" style="font-family: Arial, Helvetica, sans-serif;" pButton pRipple type="button" label="Home" class="p-button-help p-button-text"></button>
        </li>
        <li style="display: table; margin: 0 auto;padding-bottom: 8%;">
            <button [routerLink]="['/tecnologia']" style="font-family: Arial, Helvetica, sans-serif;" pButton pRipple type="button" label="Tecnologia" class="p-button-help p-button-text"></button>
        </li>
        <li style="display: table; margin: 0 auto;padding-bottom: 8%;">
            <button [routerLink]="['/servicos']" style="font-family: Arial, Helvetica, sans-serif;" pButton pRipple type="button" label="Serviços" class="p-button-help p-button-text"></button>
        </li>
        <li style="display: table; margin: 0 auto;padding-bottom: 8%; padding-bottom: 35%">
            <button [routerLink]="['/contato']" style="font-family: Arial, Helvetica, sans-serif;" pButton pRipple type="button" label="Contato" class="p-button-help p-button-text"></button>
        </li>
    </ul>
    <span style="font-family: Montserrat-Italic; font-size: small;">© Copyright <b>Leonardo Camargo.</b> Todos os direitos reservados. </span>
</p-sidebar>