<div class="main-banner">
    <div style="padding-left: 7%; padding-top: 3%;" class="row">
        <div class="col col-md-2"></div>
        <div class="col col-md-6">
            <p-card header="E-Commerce com CMS" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <img style="height: auto; width: 320px; padding-bottom: 10%;" alt="Card" src="assets/images/port1.png">
                <p>Muita além de presença digital com uma loja virtual, ofereço sua loja virtual completa com um sistema de gestão de conteúdo, um recurso surpreendente que além de facilitar a administração da sua nova loja virtual, oferece inúmeros relatórios
                    e modelos de acompanhamento dos seus resultados.</p>
                <ng-template pTemplate="footer">
                    <a (click)="displayFrontDialog=true" class="saiba-mais">Saiba mais <i class="fa fa-arrow-right"></i></a>
                </ng-template>
            </p-card>
        </div>
    </div>
    <i style="float: left; font-size: 15rem; margin-top: -25%;" class="fa fa-line-chart" aria-hidden="true"></i>
    <button [routerLink]="['/contato']" (scroll)="onScroll($event)" style="float: right; margin-top: -5%; margin-right: 28%; width: 40vh;" pButton pRipple type="button" icon="pi pi-send" label="Dúvidas? Fale Comigo" class="p-button-rounded p-button-help"></button>
    <app-sidebar></app-sidebar>


    <p-dialog [(visible)]="displayFrontDialog" [style]="{width: '90vw'}" [baseZIndex]="10000">
        <p-tabView>
            <p-tabPanel header="Loja Virtual">

                <img style="width: 800px; height: auto; padding-bottom: 3%;" src="assets/images/loja.png" />
                <img style="width: 800px; height: auto; padding-bottom: 1%;" src="assets/images/carrinho.png" />
                <p style="width: 70%;">
                    Através de diversas reuniões e um processo organizado e amigável sou capaz de oferecer experiências personalizadas para cada cliente.
                </p>
            </p-tabPanel>
            <p-tabPanel header="Acompanhe Seus Resultados">
                <img style="width: 800px; height: auto; padding-bottom: 3%;" src="assets/images/port1.png" />
                <img style="width: 800px; height: auto; padding-bottom: 1%;" src="assets/images/port2.png" />
                <p style="width: 70%;">
                    Incluído no contrato de toda loja virtual, ofereço um CMS - Sistema de Gestão de Conteúdo - intuitivo e completo. Ofereçendo a cada cliente não apenas a chance de controlar todo o conteúdo da loja virtual, mas também seus resultados.
                </p>
            </p-tabPanel>
        </p-tabView>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayFrontDialog=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>