@font-face {
    font-family: Montserrat-Bold;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
  }

@font-face {
    font-family: Montserrat-Italic;
    src: url(../../assets/fonts/Montserrat-Italic.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../../assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

.main-banner {
    width: 100%;
    height: 190vh;
    background-color: black;
    opacity: .88;
}

p {
    font-family: Montserrat-Regular;
    text-align: justify;
}
h2 {
    font-family: Montserrat-Regular;
    text-align: justify;
}

.saiba-mais {
    font-family: Montserrat-Medium;
    font-style: normal;
    color: rgb(160, 76, 160);
    text-decoration: none;

    
}

.saiba-mais:hover{
    cursor: pointer;
}

.p-button-help {
    animation: fadeInAnimation ease 3s, pulse 2s infinite;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(179, 65, 179, 0.9);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(179, 65, 179, 0.9);
      box-shadow: 0 0 0 0 rgba(179, 65, 179, 0.9);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }